body {
  min-height: 100vh;
  background-color: rgba(255, 251, 245, 0.3764705882);
}

.header {
  padding: 7px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(243, 193, 158, 0.1568627451);
}

.btn {
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(214, 40, 40, 0.8549019608);
  border: 2px solid rgba(0, 0, 0, 0.5);
}

.br-line {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.497);
  border-radius: 5px;
}

.header-container {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: flex-end;
}

.container {
  margin: auto;
}

.adminPage {
  background: rgb(250, 249, 249);
}

.adminContainer {
  display: flex;
  justify-content: space-between;
}

.ant-table-row {
  cursor: pointer;
}

.day-home {
  background-color: #8ac926;
}

option {
  position: relative;
}

.option-home {
  background-color: rgba(138, 201, 38, 0.5098039216);
}

.day-absent {
  background-color: rgba(0, 0, 0, 0.2352941176);
}

.option-absent {
  background-color: rgba(0, 0, 0, 0.2352941176);
}

.day-office {
  background-color: rgba(112, 76, 163, 0.7725490196);
}

.option-office {
  background-color: rgba(112, 76, 163, 0.7725490196);
}

.day-offsite {
  background-color: #ff6b90;
}

.option-offsite {
  background-color: #ff6b90;
}

.day-element {
  box-shadow: 2px 3px 4px -4px rgba(0, 0, 0, 0.2);
}

.day-element:hover {
  box-shadow: 2px 3px 4px -2px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}

.current-day p {
  border-bottom: 1px solid rgba(0, 0, 0, 0.537254902);
}

.w-90percent {
  width: 90%;
  border-radius: 5px;
}