body {
  min-height: 100vh;
  background-color: #fffbf560;
}

.header {
  padding: 7px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3c19e28;
}

.btn {
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #d62828da;
  border: 2px solid rgba(0, 0, 0, 0.5);
}

.br-line {
    margin: auto;
    margin-top: 10px; 
    margin-bottom: 10px;
    width: 90%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.497);
    border-radius: 5px;
}

.header-container {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: flex-end;
}

.container {
    margin: auto;
}
