body {
  min-height: 100vh;
  background-color: #fffcf6;
}

.header {
  padding: 7px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3c19e28;
}

.btn {
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #d62828da;
  border: 2px solid rgba(0, 0, 0, 0.5);
}

.br-line {
    margin: auto;
    margin-top: 10px; 
    margin-bottom: 10px;
    width: 90%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.497);
    border-radius: 5px;
}

.br-line-modal {
  margin: auto;
  margin-top: 10px; 
  margin-bottom: 10px;
  width: 90%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.356);
  border-radius: 5px;
}

.header-container {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: flex-end;
}

.container {
    margin: auto;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
}

.modal-wrapper.open {
  opacity: 1;
  pointer-events: auto;
}

.modal-container {
  transform: translateX(100%);
  transition: transform 0.3s ease;
  background-color: #fffbf5;
}

.modal-wrapper.open .modal-container {
  transform: translateX(0);
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide-down {
  opacity: 0; /* Initially hide the paragraphs */
  transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out, transform 0.3s ease-in-out; /* Add a transition effect */
  height: 0;
  overflow: hidden; /* Hide overflow content */
  transform-origin: top; /* Set transform origin to top */
  transform: scaleY(0); /* Scale vertically to 0 */
}

.slide-down.show {
  opacity: 1; /* Show the paragraphs */
  height: auto; /* Set height to auto to reveal content */
  transform: scaleY(1); /* Scale vertically to 1 */
}

.main-component {
  background-color: #fffbfb;
  border: 1px solid rgba(0, 0, 0, 0.123);
}

/* Add other styles as needed */
