body {
  min-height: 100vh;
  background-color: rgba(255, 251, 245, 0.3764705882);
}

.header {
  padding: 7px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(243, 193, 158, 0.1568627451);
}

.btn {
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(214, 40, 40, 0.8549019608);
  border: 2px solid rgba(0, 0, 0, 0.5);
}

.br-line {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.497);
  border-radius: 5px;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container {
  margin: auto;
}

.adminPage {
  background: rgb(250, 249, 249);
}

.adminContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5rem;
}

.userInfos {
  margin-left: 1rem;
  margin-left: 5rem;
}

.ant-table-row {
  cursor: pointer;
}

.calendarAdminSide {
  width: 40%;
  margin-right: 10rem;
}

.infoBtn {
  color: black;
}

button span {
  color: black;
}

.clientsList {
  color: black;
  font-size: 0.9rem;
  font-weight: 600;
  border-bottom: 1px solid black;
  padding-bottom: 0.5rem;
}

.inputClients {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 2rem;
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: black;
}

.addClientsBtn {
  margin-top: 1rem;
  width: 20%;
  height: 2rem;
  border: 1px solid black;
  border-radius: 5px;
  background: white;
  color: black;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
}
.addClientsBtn:hover {
  background: black;
  color: white;
}
.addClientsBtn:active {
  border-radius: 10px;
}

.deleteBtn {
  color: red;
}

.day-home {
  background-color: #8ac926;
}

option {
  position: relative;
}

.option-home {
  background-color: rgba(138, 201, 38, 0.5098039216);
}

.day-absent {
  background-color: rgba(0, 0, 0, 0.2352941176);
}

.option-absent {
  background-color: rgba(0, 0, 0, 0.2352941176);
}

.day-office {
  background-color: rgba(112, 76, 163, 0.7725490196);
}

.option-office {
  background-color: rgba(112, 76, 163, 0.7725490196);
}

.day-offsite {
  background-color: #ff6b90;
}

.option-offsite {
  background-color: #ff6b90;
}

.day-element {
  -webkit-box-shadow: 2px 3px 4px -4px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 3px 4px -4px rgba(0, 0, 0, 0.2);
}

.day-element:hover {
  -webkit-box-shadow: 2px 3px 4px -2px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 3px 4px -2px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.current-day p {
  border-bottom: 1px solid rgba(0, 0, 0, 0.537254902);
}

.w-90percent {
  width: 90%;
  border-radius: 5px;
}/*# sourceMappingURL=style.css.map */