.day-home {
    background-color: #8ac926;
}

option{
    position: relative;
    
}

.option-home {
    background-color: #8ac92682;
}

.day-absent {
    background-color: #0000003c
}
.option-absent {
    background-color: #0000003c
}   

.day-office {
    background-color: #704ca3c5
}
.option-office {
    background-color: #704ca3c5
}

.day-offsite {
    background-color: #ff6b90;
}
.option-offsite {
    background-color: #ff6b90;
}

.day-element {
    box-shadow: 2px 3px 4px -4px rgb(0, 0, 0, 0.5);
}
.day-element:hover {
    box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}

.current-day p{
    border-bottom: 1px solid #00000089;
}

.w-90percent {
    width: 90%;
    border-radius: 5px;
}